body{
    text-align: center;
}
#juego, #fin{
    margin: auto;
    align-items: center;
}
table{
    margin: auto;
}
#inicio{
    text-align: center;
    border: 3px groove black;
    border-radius: 15px;
    text-align: center;
    background-color: azure;
    padding: 5px;
}
h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button.juego{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}